body{
	background-color: black;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: "宋体";
}
.frame{
	width: 1280px;
	height: 720px;
	background-color: #74BCE7;
	position: relative;
	top: 100px;
	left: 50%;
	margin-left: -640px;
	filter: blur(8px);
}
.clear{
	clear: both;
}
.baffle{
	width: 1280px;
	height: 720px;
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -640px;
}
.bestScore{
	display: none;
}